.header{
    border-bottom: 2px solid #fff;

    height: 60px;
    padding: 0 20px;

    display: flex;
    align-items: center;
}

.back{
    height: 40px;
    padding: 0 15px;

    border: none;
    border-radius: 10px;

    font-size: 18px;
    font-weight: 400;

    color: #fff;
    background-color: #6f6f6f;

    display: flex;
    align-items: center;

    text-decoration: none;
}

.title{
    font-size: 24px;
    font-weight: 400;

    margin: 0 auto;
}

.profile{
    height: 40px;
    padding: 0 15px;

    border: none;
    border-radius: 10px;

    font-size: 18px;
    font-weight: 400;

    color: #fff;
    background-color: #6f6f6f;

    display: flex;
    align-items: center;

    text-decoration: none;
}